html, body {
     font-family: "Open Sans", sans-serif;
     font-size: 14px;
     margin: 0;
     min-height: 180px;
     padding: 0;
     width: 384px;
}
 h1 {
     font-family: "Menlo", monospace;
     font-size: 22px;
     font-weight: 400;
     margin: 0;
     color: #2f5876;
}
 img {
     width: 30px;
}
 .modal-header {
     align-items: center;
     border-bottom: 0.5px solid #dadada;
}
 .modal-content {
     padding: 0 22px;
}
 .logo {
     padding: 16px;
}
 .logo-icon {
     vertical-align: text-bottom;
     margin-right: 12px;
}
 .flex-container {
     display: flex;
     justify-content: space-between;
     padding: 10px 22px;
}
 .flex {
     opacity: 1;
     transition: opacity 0.2s ease-in-out;
     width: 120px;
}
 .flex .fa {
     font-size: 40px;
     color: #2f5876;
}
.extensions {
 color: darksalmon;
}
